<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>List categories</title>
</head>

<body>

    <div layout:fragment="content">

        <h1>Category List</h1>

        <div class="alert alert-danger" th:if="${error}">
            [[${error}]]
        </div>
        <div class="add-link">
            <a th:href="@{/categories/create}">
                + Create New Category
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="category : ${listcategory}">
                    <td data-label="#">[[${category.id}]]</td>
                    <td data-label="Name">[[${category.name}]]</td>
                    <td data-label="Action">
                        <a th:href="@{/categories/edit/{id}(id=${category.id})}">
                            Edit
                        </a>
                        |
                        <form th:action="@{/categories/delete/{id}(id=${category.id})}" method="post"
                            style="display:inline" onsubmit="return confirm('Bạn có chắc muốn xóa không?')">
                            <button type="submit" class="btn-delete">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>